node_modules/
dist/
release/
*.db
*.log
.env
.DS_Store
*.map
electron-builder-debug.log
win-unpacked/
*.exe
tmp/
*.rar
build*.txt
test_results.txt
tsc*.txt
typecheck_*.txt
novo_arquivo.txt
setup/
setup_src/
